.display-4 {
    font-family: cursive;
}

.main-box {
    background: linear-gradient(to bottom right, rgb(149, 62, 189) 0%, rgb(217, 151, 248) 100%) 100% no-repeat;
    /* rgb(228, 181, 250); */
    
}
.card {
    border-radius: 0 !important;
}
.select-font {
    font-size: xx-large;
    font-weight: 500;
    text-decoration: white, solid;

}
.card-img-box {
    height: 120px;
}
.card-img-student {
    height: 100px;
    width: 100px;
}

.card-img-employer {
    height: 130px;
    width: 130px;
}

.card-img-school {
    height: 110px;
    width: 110px;
}

.card-name {
    font-size: x-large !important;
    color: black !important;
}
